.navButton {
  position: relative;
  color: var(--c-text-color);
  padding: 10px;
  border-radius: 99px;

  display: flex;
  align-items: center;

  svg {
    font-size: 26px;
  }

  h2,
  span {
    margin-left: 20px;
    margin-right: 19px;
  }

  &:hover {
    background-color: var(--c-theme-20);
    border-color: var(--c-theme-20);
  }

  .notificationCount {
    position: absolute;
    left: 0px;
    top: 5px;
    padding-left: 4px;
    padding-right: 4px;

    min-width: 17px;
    height: 17px;
    border-radius: 17px;

    font-size: 11px;

    background-color: var(--c-theme);
    color: var(--c-text-color);
    border: 1px solid var(--c-primary);

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.selectedNavButton {
  background-color: var(--c-theme);
}
