.themeButton {
  background-color: var(--c-theme);

  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  min-width: 40px;

  font-weight: bold;

  color: var(--c-theme-button-color);

  &:hover {
    background-color: var(--c-theme);
    color: var(--c-theme-button-color);
  }
}

.largeThemeButton {
  height: 47px;
  min-width: 47px;
}
