body {
  //background-color: white;
  padding: 30px !important;
}

.icons {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
  padding: 10px;
  color: var(--c-text-color);
}

svg {
  font-size: 40px;
}
